{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "ignore": [
        ".css",
        ".scss"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ],
    "env": {
        "test": {
            "plugins": [
                "@babel/plugin-transform-runtime"
            ]
        }
    }
}