$lightPineGreen: rgba(13, 167, 187, 0.548);
$mediumPineGreen: rgba(7, 89, 100, 0.839);
$darkPineGreen: rgba(7, 89, 100, 0.337);
$darkPineGreen-b: rgba(7, 89, 100, 1);
$gold: rgb(252, 191, 73);
$white: #ffffff;
$coquelicot: rgb(243, 66, 19);
$richBlack: #00171fdb;
$lightGray: #e4e4e4;
$lightestGray: #e4e4e45e;
$gray: #a3a3a3;
$red: rgb(255, 0, 0);
$darkRed: rgba(255, 0, 0, 0.644);

$small: 1.2rem;
$medium: 1.4rem;
$large: 3.2rem;

$thin: 300;
$regular: 400;
$bold: 700;

$lato: "Lato", sans-serif;
